<h1>Reports</h1>
<p> Vitajte na stranke reportov, na tejto stranke je mozny vyber z troch typov reportov. Uzivajte :)</p>

<br>

<%=link_to "Customer Report", customer_pc_report_path  %>
<%=link_to "City Report", city_report_path  %>